In [44]:
import pandas
df=pandas.read_csv("zenkoku.csv",encoding="cp932")

In [45]:
df.head()

,住所CD,都道府県CD,市区町村CD,町域CD,郵便番号,事業所フラグ,廃止フラグ,都道府県,都道府県カナ,市区町村,...,町域カナ,町域補足,京都通り名,字丁目,字丁目カナ,補足,事業所名,事業所名カナ,事業所住所,新住所CD
0,60000000,1,1101,11010000,060-0000,0,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60850400,1,1101,11010000,060-8504,1,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,富士通 株式会社 北海道支社,フジツウ カブシキガイシヤ ホツカイドウシシヤ,北２条西４丁目１番地札幌三井ＪＰビルディング,NaN
2,60872100,1,1101,11010000,060-8721,1,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,大丸 株式会社 紙包材営業本部,ダイマル カブシキガイシヤ カミホウザイエイギヨウホンブ,北３条西１４丁目２番,NaN
3,60860200,1,1101,11010000,060-8602,1,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,株式会社 朝日新聞社 北海道支社,カブシキカイシヤ アサヒシンブンシヤ ホツカイドウシシヤ,北１条西１丁目６番地さっぽろ創生スクエア９階,NaN
4,60840600,1,1101,11010000,060-8406,1,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,北海道テレビ放送 株式会社,ホツカイドウテレビホウソウ カブシキカイシヤ,北１条西１丁目６番地,NaN

In [46]:
df.dropna(subset=["事業所住所"],inplace=True)

In [47]:
df.tail()

,住所CD,都道府県CD,市区町村CD,町域CD,郵便番号,事業所フラグ,廃止フラグ,都道府県,都道府県カナ,市区町村,...,町域カナ,町域補足,京都通り名,字丁目,字丁目カナ,補足,事業所名,事業所名カナ,事業所住所,新住所CD
149668,901049600,47,47362,473620015,901-0496,1,0,沖縄県,オキナワケン,島尻郡八重瀬町,...,トモリ,NaN,NaN,NaN,NaN,NaN,陸上自衛隊 与座分屯地,リクジヨウジエイタイ ヨザブントンチ,富盛２６０８,NaN
149673,901049300,47,47362,473620019,901-0493,1,0,沖縄県,オキナワケン,島尻郡八重瀬町,...,ホカマ,NaN,NaN,NaN,NaN,NaN,特定医療法人 沖縄徳洲会 南部徳洲会病院,トクテイイリヨウホウジン オキナワトクシユウカイ ナンブトクシユウカイビヨウイン,外間８０,NaN
149681,906069200,47,47375,473750002,906-0692,1,0,沖縄県,オキナワケン,宮古郡多良間村,...,ナカスジ,NaN,NaN,NaN,NaN,NaN,多良間村役場,タラマソンヤクバ,仲筋９９－２,NaN
149689,907129200,47,47381,473810005,907-1292,1,0,沖縄県,オキナワケン,八重山郡竹富町,...,コハマ,NaN,NaN,NaN,NaN,NaN,株式会社 はいむるぶし,カブシキガイシヤ ハイムルブシ,小浜２９３０,NaN
149700,907189200,47,47382,473820001,907-1892,1,0,沖縄県,オキナワケン,八重山郡与那国町,...,ヨナグニ,NaN,NaN,NaN,NaN,NaN,与那国町役場,ヨナグニチヨウヤクバ,与那国１２９,NaN

In [48]:
dropidx=df.index[(df["廃止フラグ"]==1)]

In [49]:
df.drop(dropidx,inplace=True)

In [50]:
df.head()

,住所CD,都道府県CD,市区町村CD,町域CD,郵便番号,事業所フラグ,廃止フラグ,都道府県,都道府県カナ,市区町村,...,町域カナ,町域補足,京都通り名,字丁目,字丁目カナ,補足,事業所名,事業所名カナ,事業所住所,新住所CD
1,60850400,1,1101,11010000,060-8504,1,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,富士通 株式会社 北海道支社,フジツウ カブシキガイシヤ ホツカイドウシシヤ,北２条西４丁目１番地札幌三井ＪＰビルディング,NaN
2,60872100,1,1101,11010000,060-8721,1,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,大丸 株式会社 紙包材営業本部,ダイマル カブシキガイシヤ カミホウザイエイギヨウホンブ,北３条西１４丁目２番,NaN
3,60860200,1,1101,11010000,060-8602,1,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,株式会社 朝日新聞社 北海道支社,カブシキカイシヤ アサヒシンブンシヤ ホツカイドウシシヤ,北１条西１丁目６番地さっぽろ創生スクエア９階,NaN
4,60840600,1,1101,11010000,060-8406,1,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,北海道テレビ放送 株式会社,ホツカイドウテレビホウソウ カブシキカイシヤ,北１条西１丁目６番地,NaN
5,60855200,1,1101,11010000,060-8552,1,0,北海道,ホッカイドウ,札幌市中央区,...,,（該当なし）,NaN,NaN,NaN,NaN,損害保険ジャパン日本興亜 株式会社,ソンガイホケンジヤパンニツポンコウア カブシキガイシヤ,北１条西６丁目２番地損保ジャパン日本興亜札幌ビル,NaN

In [51]:
addr=df["都道府県"].str.cat(df["事業所住所"])

In [52]:
addr.head()

1      北海道北２条西４丁目１番地札幌三井ＪＰビルディング
2                  北海道北３条西１４丁目２番
3      北海道北１条西１丁目６番地さっぽろ創生スクエア９階
4                  北海道北１条西１丁目６番地
5    北海道北１条西６丁目２番地損保ジャパン日本興亜札幌ビル
Name: 都道府県, dtype: object

In [53]:
df["full住所"]=addr

In [54]:
newdf=df[["full住所","事業所名"]]

In [55]:
newdf.head()

                        full住所               事業所名
1    北海道北２条西４丁目１番地札幌三井ＪＰビルディング     富士通　株式会社　北海道支社
2                北海道北３条西１４丁目２番    大丸　株式会社　紙包材営業本部
3    北海道北１条西１丁目６番地さっぽろ創生スクエア９階   株式会社　朝日新聞社　北海道支社
4                北海道北１条西１丁目６番地      北海道テレビ放送　株式会社
5  北海道北１条西６丁目２番地損保ジャパン日本興亜札幌ビル  損害保険ジャパン日本興亜　株式会社

In [56]:
import requests
from bs4 import BeautifulSoup
import time
from tqdm import tqdm
def get_lat_lon_from_address(address_l):
    """
    address_lにlistの形で住所を入れてあげると、latlonsという入れ子上のリストで緯度経度のリストを返す関数。
    >>>>get_lat_lon_from_address(['東京都文京区本郷7-3-1','東京都文京区湯島３丁目３０−１'])
    [['35.712056', '139.762775'], ['35.707771', '139.768205']]
    """
    url = 'http://www.geocoding.jp/api/'
    latlons = []
    for address in tqdm(address_l):
        payload = {"v": 1.1, 'q': address}
        r = requests.get(url, params=payload)
        ret = BeautifulSoup(r.content,'lxml')
        if ret.find('error'):
            raise ValueError(f"Invalid address submitted. {address}")
        else:
            try:
                lat = ret.find('lat').string
                lon = ret.find('lng').string
                time.sleep(0.5)
            except:
                lat=lon=None
            finally:
                latlons.append([lat,lon])
    return latlons
import urllib
import urllib.request
from xml.etree.ElementTree import parse

def adr2geo(adr):
    api = "http://www.geocoding.jp/api/?v=1.1&q=%s" % (urllib.parse.quote(adr.encode('utf-8')))
    xml = parse(urllib.request.urlopen(api)).getroot()

    lat = xml.find('coordinate/lat').text
    lng = xml.find('coordinate/lng').text
    return (float(lat), float(lng))

In [57]:
# adr2geo("北海道北２条西４丁目１番地札幌三井ＪＰビルディング")
get_lat_lon_from_address(["北海道北２条西４丁目１番地札幌三井ＪＰビルディング"])

100%|██████████| 1/1 [00:00<00:00, 25.00it/s]

[[None, None]]

In [58]:
addr_list=df["full住所"].tolist()

In [59]:
# lat_lon_list=get_lat_lon_from_address(addr_list)

In [64]:
import chromedriver_binary # nopa
from selenium import webdriver

# WebDriver のオプションを設定する
options = webdriver.ChromeOptions()
# options.add_argument('--headless')

print('connectiong to remote browser...')
driver = webdriver.Chrome(options=options)

driver.get('https://www.wellhat.co.jp/tools/googlemap.html')
print(driver.current_url)

# ブラウザを終了する
# driver.quit()

connectiong to remote browser...
https://www.wellhat.co.jp/tools/googlemap.html

In [70]:
ele=driver.find_element_by_xpath(r"/html/body/div[2]/div/div[3]/div/div/div/div/div/fieldset[1]/form/input[1]")
ele.clear()
ele.send_keys("北海道北２条西４丁目１番地札幌三井ＪＰビルディング")
ele=driver.find_element_by_xpath("/html/body/div[2]/div/div[3]/div/div/div/div/div/fieldset[2]/form/input[1]")
ele.click()
lat=driver.find_element_by_xpath("/html/body/div[2]/div/div[3]/div/div/div/div/div/fieldset[2]/form/input[1]").get_attribute("value")
lon=driver.find_element_by_xpath("/html/body/div[2]/div/div[3]/div/div/div/div/div/fieldset[2]/form/input[2]").get_attribute("value")
print(lat,lon)

43.0638731 141.3503822

In [74]:
def get_lat_lon(addr):
    ele=driver.find_element_by_xpath(r"/html/body/div[2]/div/div[3]/div/div/div/div/div/fieldset[1]/form/input[1]")
    ele.clear()
    ele.send_keys("北海道北２条西４丁目１番地札幌三井ＪＰビルディング")
    ele=driver.find_element_by_xpath("/html/body/div[2]/div/div[3]/div/div/div/div/div/fieldset[2]/form/input[1]")
    ele.click()
    time.sleep(2)
    lat=driver.find_element_by_xpath("/html/body/div[2]/div/div[3]/div/div/div/div/div/fieldset[2]/form/input[1]").get_attribute("value")
    lon=driver.find_element_by_xpath("/html/body/div[2]/div/div[3]/div/div/div/div/div/fieldset[2]/form/input[2]").get_attribute("value")
    # print(lat,lon)
    # time.sleep(1)
    return lat,lon
def get_from_addr_list(addrlist):
    ans=[]
    ans2=[]
    for ad in tqdm(addr_list):
        try:
            lat,lon=get_lat_lon_from_address(ad)
        except:
            lat=lon=None
        ans.append(lat)
        ans2.append(lon)

In [72]:
get_from_addr_list(addr_list)

  0%|          | 0/22366 [00:00<?, ?it/s]
  0%|          | 0/25 [00:00<?, ?it/s]
  8%|▊         | 2/25 [00:00<00:09,  2.55it/s]
 12%|█▏        | 3/25 [00:00<00:06,  3.25it/s]
 24%|██▍       | 6/25 [00:01<00:04,  4.39it/s]
 36%|███▌      | 9/25 [00:01<00:02,  5.83it/s]
 48%|████▊     | 12/25 [00:01<00:01,  7.58it/s]
 60%|██████    | 15/25 [00:01<00:01,  9.63it/s]
 72%|███████▏  | 18/25 [00:01<00:00, 11.78it/s]
 84%|████████▍ | 21/25 [00:01<00:00, 14.07it/s]
100%|██████████| 25/25 [00:01<00:00, 14.11it/s]
  0%|          | 0/22366 [00:01<?, ?it/s]

ValueError: too many values to unpack (expected 2)