In [24]:
import pandas as pd

df=pd.read_csv("zenkoku.csv")

In [25]:
df.dropna(subset=["事業所名"],inplace=True)

In [26]:
df["住所"]=df["都道府県"]+df["市区町村"]+df["事業所住所"]

In [27]:
df=df[df["市区町村"]=="新宿区"]
len(df)

340

In [5]:
# df["住所"].to_clipboard(header=False, index=False)

In [6]:
df.to_csv("random.csv")

In [7]:

new=df["住所"].str.replace("\uff0d","-")
new.to_csv("500-osaka.csv",encoding="SHIFT-JIS")

Empty DataFrame
Columns: [住所CD, 都道府県CD, 市区町村CD, 町域CD, 郵便番号, 事業所フラグ, 廃止フラグ, 都道府県, 都道府県カナ, 市区町村, 市区町村カナ, 町域, 町域カナ, 町域補足, 京都通り名, 字丁目, 字丁目カナ, 補足, 事業所名, 事業所名カナ, 事業所住所, 新住所CD, 住所]
Index: []

[0 rows x 23 columns]

In [13]:
import requests
from bs4 import BeautifulSoup
import time
from tqdm import tqdm
from multiprocessing import Pool
def get_lat_lon_from_address(address_l):
    """
    address_lにlistの形で住所を入れてあげると、latlonsという入れ子上のリストで緯度経度のリストを返す関数。
    >>>>get_lat_lon_from_address(['東京都文京区本郷7-3-1','東京都文京区湯島３丁目３０−１'])
    [['35.712056', '139.762775'], ['35.707771', '139.768205']]
    """
    url = 'http://www.geocoding.jp/api/'
    lata,lona = [],[]
    for address in tqdm(address_l):
        payload = {"v": 1.1, 'q': address}
        r = requests.get(url, params=payload)
        ret = BeautifulSoup(r.content,'lxml')
        
        if ret.find('error'):
            print("ER!!")
            lat=lon=None
        else:
            lat = ret.find('lat').string
            lon = ret.find('lng').string
        lata.append(lat)
        lona.append(lon)
        time.sleep(2)
    return lata,lona

In [9]:
adr=df["住所"].tolist()

In [10]:
adr

['東京都新宿区愛住町２２第三山田ビル４Ｆ',
 '東京都新宿区揚場町２番１号軽子坂ＭＮビル５階',
 '東京都新宿区揚場町２－２６',
 '東京都新宿区揚場町２－１８',
 '東京都新宿区揚場町２－１',
 '東京都新宿区荒木町２－３',
 '東京都新宿区市谷加賀町１丁目１－１',
 '東京都新宿区市谷砂土原町２丁目６',
 '東京都新宿区市谷砂土原町１－２－５９',
 '東京都新宿区市谷砂土原町１丁目２保健会館内',
 '東京都新宿区市谷砂土原町３丁目５',
 '東京都新宿区市谷砂土原町１－２－５９',
 '東京都新宿区市谷砂土原町１－２－５９',
 '東京都新宿区市谷砂土原町２丁目４番地',
 '東京都新宿区市谷田町１丁目１８番',
 '東京都新宿区市谷田町１丁目１８',
 '東京都新宿区市谷船河原町１５',
 '東京都新宿区市谷船河原町１１',
 '東京都新宿区市谷本村町４２－８',
 '東京都新宿区市谷本村町３－２１経済法令ビル',
 '東京都新宿区市谷本村町３－２１',
 '東京都新宿区市谷本村町１－１住友市ケ谷ビル',
 '東京都新宿区市谷本村町３－２１',
 '東京都新宿区市谷本村町１０－７',
 '東京都新宿区市谷本村町３－２６',
 '東京都新宿区市谷本村町１０－５',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町１０番１号',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町２－３',
 '東京都新宿区市谷本村町２－１２',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区市谷本村町５－１',
 '東京都新宿区岩戸町１８日交神楽坂ビル',
 '東京都新宿区岩戸町２',
 '東京都新宿区榎町７',
 '東京都新宿区榎町７',
 '東京都新宿区榎町３９神楽坂法菖ビル１０１／２０１号',
 '東京都新宿区榎町３３ザスクエアー８Ｆ',
 '東京都新宿区大久保２－２－６ラクアス東新宿ビル７Ｆ',
 '東京都新宿区大久保２－２－６ラクアス東新宿ビル６Ｆ',
 '東京都新宿区大久保２丁目１－１',
 '東京都新宿区大久保２－１２－１',
 '東京都新宿区大久保１丁目２－１５',
 '東京都新宿区大久保２丁目１２－１',
 '東京都新宿区大久保２丁目１２－１１',
 '東京都新宿区大久保２丁目１－１',
 '東京都新宿区大久保３丁目４－１',
 '東京都新宿区大久保２丁目８－３',
 '東京都新宿区大久保２丁目５－２５',
 '東京都新宿区大久保２丁目１２－１ペアーレ新宿４階・５階',
 '東京都新宿区神楽河岸１－１',
 '東京都新宿区神楽坂６丁目３０',
 '東京都新宿区神楽坂１丁目３',
 '東京都新宿区歌舞伎町１丁目４－１',
 '東京都新宿区歌舞伎町１丁目１９番１号',
 '東京都新宿区歌舞伎町２丁目４４－１',
 '東京都新宿区歌舞伎町１丁目４－１',
 '東京都新宿区歌舞伎町１丁目４－１',
 '東京都新宿区歌舞伎町１丁目３０－１',
 '東京都新宿区歌舞伎町２丁目４２－１０',
 '東京都新宿区上落合３丁目１０－８',
 '東京都新宿区上落合２丁目２６－５',
 '東京都新宿区河田町８－１',
 '東京都新宿区北新宿２丁目２１番１号新宿フロントタワー',
 '東京都新宿区北新宿１丁目１９－３',
 '東京都新宿区北新宿２－２１－１',
 '東京都新宿区北山伏町１－１１',
 '東京都新宿区左門町４四谷アネックス',
 '東京都新宿区信濃町３４ＪＲ信濃町ビル５Ｆ',
 '東京都新宿区信濃町３４ＪＲ信濃町ビル',
 '東京都新宿区信濃町８',
 '東京都新宿区信濃町３２',
 '東京都新宿区信濃町３５',
 '東京都新宿区信濃町１８',
 '東京都新宿区信濃町３４番ＪＲ信濃町ビル５階',
 '東京都新宿区下落合３丁目２２－１５',
 '東京都新宿区下落合１丁目４－１０',
 '東京都新宿区下落合２丁目６－２２',
 '東京都新宿区下落合１丁目７－７',
 '東京都新宿区下落合１丁目１－１',
 '東京都新宿区下落合１丁目５－２２アリミノビル２Ｆ',
 '東京都新宿区下落合１丁目２－４',
 '東京都新宿区下落合２丁目３－１８',
 '東京都新宿区下落合２丁目３－１８',
 '東京都新宿区下宮比町２－６',
 '東京都新宿区下宮比町２－１２神楽坂ＨＣスタジオ',
 '東京都新宿区新小川町４－１アプラス東京ビル',
 '東京都新宿区新小川町６－２９',
 '東京都新宿区新小川町１－７',
 '東京都新宿区新小川町４－１１昭和図書ビル',
 '東京都新宿区新宿３丁目３０－１１',
 '東京都新宿区新宿６－２７－３０新宿イーストサイドスクエア７Ｆ',
 '東京都新宿区新宿６－２７－３０新宿イーストサイドスクエア７Ｆ',
 '東京都新宿区新宿１丁目３１番１２号',
 '東京都新宿区新宿５丁目１７番１８号Ｈ＆Ｉビル',
 '東京都新宿区新宿７丁目２６－９フィオーレ東京',
 '東京都新宿区新宿６丁目２７番３０号新宿イーストサイドスクエア２階',
 '東京都新宿区新宿１丁目２－７あいおい損保・新宿東共同ビル',
 '東京都新宿区新宿３丁目１番１３号',
 '東京都新宿区新宿５丁目６－１１',
 '東京都新宿区新宿６丁目２７番３０号新宿イーストサイドスクエア',
 '東京都新宿区新宿１丁目６－３',
 '東京都新宿区新宿６丁目１－１',
 '東京都新宿区新宿２－１９－１ビッグス新宿ビル８階',
 '東京都新宿区新宿５－１４－６長府新宿ビル',
 '東京都新宿区新宿７丁目２７－１９',
 '東京都新宿区新宿３－１４－１',
 '東京都新宿区新宿１丁目１０－７',
 '東京都新宿区新宿３丁目１番２４号京王新宿三丁目ビル',
 '東京都新宿区新宿４丁目１番６号ＪＲ新宿ミライナタワー２９階',
 '東京都新宿区新宿３丁目１０－８',
 '東京都新宿区新宿１丁目１－１２',
 '東京都新宿区新宿１丁目１－１２',
 '東京都新宿区新宿６－２７－３０新宿イーストサイドスクエア',
 '東京都新宿区新宿４丁目１番６号ＪＲ新宿ミライナタワー２９階',
 '東京都新宿区新宿４丁目１番６号ＪＲ新宿ミライナタワー２９階',
 '東京都新宿区新宿５丁目８－１',
 '東京都新宿区新宿５－１５－５新宿三光町ビル',
 '東京都新宿区新宿６－２７－３０新宿イーストサイドスクエア７Ｆ',
 '東京都新宿区新宿６丁目２８－１',
 '東京都新宿区新宿５－３－１',
 '東京都新宿区新宿１丁目１－１３',
 '東京都新宿区水道町４－１３',
 '東京都新宿区水道町３－９',
 '東京都新宿区大京町２２－１',
 '東京都新宿区大京町４',
 '東京都新宿区高田馬場１丁目４－１５',
 '東京都新宿区高田馬場４丁目３０－２１',
 '東京都新宿区高田馬場１丁目２９－１０',
 '東京都新宿区高田馬場１丁目２３－４',
 '東京都新宿区高田馬場２丁目７－１５全建総連会館',
 '東京都新宿区高田馬場１丁目２－１２',
 '東京都新宿区高田馬場２丁目８－４ＡＵビル３Ｆ',
 '東京都新宿区高田馬場４丁目２－３８',
 '東京都新宿区高田馬場１丁目３５－３',
 '東京都新宿区高田馬場１丁目３４－７',
 '東京都新宿区高田馬場４－２８－１２',
 '東京都新宿区高田馬場４丁目２８－１２',
 '東京都新宿区高田馬場１丁目３２－１３',
 '東京都新宿区高田馬場２丁目１４－１１',
 '東京都新宿区高田馬場４丁目３０－２０',
 '東京都新宿区高田馬場１丁目４番１５号大樹生命高田馬場ビル',
 '東京都新宿区高田馬場１丁目４番１５号大樹生命高田馬場ビル',
 '東京都新宿区高田馬場１－２５－３０',
 '東京都新宿区箪笥町３８',
 '東京都新宿区津久戸町１番２号',
 '東京都新宿区津久戸町５－１',
 '東京都新宿区津久戸町２－１',
 '東京都新宿区天神町１０番地安村ビル',
 '東京都新宿区天神町６６－１４－２',
 '東京都新宿区戸塚町１丁目１０４－１９',
 '東京都新宿区富久町１３番１９号',
 '東京都新宿区富久町１３番１９号',
 '東京都新宿区富久町１３番１９号',
 '東京都新宿区戸山三丁目２０番１号',
 '東京都新宿区戸山１丁目２１－１',
 '東京都新宿区戸山３丁目２０－１',
 '東京都新宿区戸山１丁目２３－１',
 '東京都新宿区戸山１丁目２３－１',
 '東京都新宿区戸山１丁目２４－１',
 '東京都新宿区内藤町８７四谷区民センター３・４Ｆ',
 '東京都新宿区内藤町８７番',
 '東京都新宿区内藤町８７番',
 '東京都新宿区内藤町８７番',
 '東京都新宿区内藤町８７番',
 '東京都新宿区内藤町１',
 '東京都新宿区中落合２丁目５－１',
 '東京都新宿区中落合１丁目６－１２',
 '東京都新宿区中落合４丁目３１番１号',
 '東京都新宿区中落合２丁目７－１',
 '東京都新宿区中落合３丁目１５－１５',
 '東京都新宿区中落合４丁目３１－１',
 '東京都新宿区中里町２９',
 '東京都新宿区西落合１丁目２０－８',
 '東京都新宿区西落合１丁目３１－４',
 '東京都新宿区西落合２丁目１８－１２',
 '東京都新宿区西落合２丁目１－１２',
 '東京都新宿区西新宿１丁目７－２スバルビル',
 '東京都新宿区西新宿５丁目１０－１４西新宿橋谷田ビル２Ｆ',
 '東京都新宿区西新宿１丁目８－３小田急明治生命ビル',
 '東京都新宿区西新宿１丁目１－３',
 '東京都新宿区西新宿６丁目３－１新宿アイランドウイング',
 '東京都新宿区西新宿５丁目２５－１１',
 '東京都新宿区西新宿１丁目１－４',
 '東京都新宿区西新宿７丁目５番２５号西新宿木村屋ビルディング',
 '東京都新宿区西新宿２丁目２－１',
 '東京都新宿区西新宿７丁目５－８',
 '東京都新宿区西新宿７丁目８－１０オークラヤビル',
 '東京都新宿区西新宿３丁目２－１１新宿三井２号館１４Ｆ',
 '東京都新宿区西新宿２丁目３－３ＫＤＤＩビルアネックス５Ｆ',
 '東京都新宿区西新宿１－１０－２',
 '東京都新宿区西新宿３丁目１９－２',
 '東京都新宿区西新宿６丁目１３番１号新宿セントラルパークビル',
 '東京都新宿区西新宿３丁目２－９',
 '東京都新宿区西新宿２丁目３－３ＫＤＤＩビルアネックス',
 '東京都新宿区西新宿７丁目５－２５西新宿木村屋ビルディング',
 '東京都新宿区西新宿１丁目２４－２',
 '東京都新宿区西新宿３丁目２０－１',
 '東京都新宿区西新宿１丁目２２－２',
 '東京都新宿区西新宿１丁目５－１',
 '東京都新宿区西新宿２丁目４－１新宿ＮＳビル',
 '東京都新宿区西新宿３丁目７－１新宿パークタワー',
 '東京都新宿区西新宿２丁目３－１新宿モノリス１６Ｆ',
 '東京都新宿区西新宿２丁目３－１新宿モノリス',
 '東京都新宿区西新宿２－３－１新宿モノリス',
 '東京都新宿区西新宿２－４－１新宿ＮＳビル２３階',
 '東京都新宿区西新宿２丁目４－１新宿ＮＳビル１６階',
 '東京都新宿区西新宿４－３２－２２',
 '東京都新宿区西新宿２丁目４－１新宿ＮＳビル',
 '東京都新宿区西新宿３丁目７－１新宿パークタワー２６Ｆ',
 '東京都新宿区西新宿４丁目３３－４新宿中央公園ビル',
 '東京都新宿区西新宿２丁目７－１小田急第一生命ビル',
 '東京都新宿区西新宿２丁目７－１小田急第一生命ビル',
 '東京都新宿区西新宿１丁目９－１',
 '東京都新宿区西新宿６丁目２１－１',
 '東京都新宿区西新宿２丁目８－１',
 '東京都新宿区西新宿２丁目３－２',
 '東京都新宿区西新宿２丁目４－１新宿ＮＳビル',
 '東京都新宿区西新宿６丁目５－１新宿アイランドタワー',
 '東京都新宿区西新宿３丁目２０番２号東京オペラシティタワー',
 '東京都新宿区西新宿３丁目２０－２東京オペラシティタワー１５Ｆ',
 '東京都新宿区西新宿３丁目２０－２東京オペラシティ１３Ｆ',
 '東京都新宿区西新宿６丁目５－１新宿アイランドタワー',
 '東京都新宿区西新宿６丁目５－１新宿アイランドタワー',
 '東京都新宿区西新宿６丁目５－１新宿アイランドタワー',
 '東京都新宿区西新宿６丁目５－１新宿アイランドタワー２０Ｆ',
 '東京都新宿区西新宿３丁目７－１新宿パークタワー',
 '東京都新宿区西新宿６丁目５－１新宿アイランドタワー２２Ｆ',
 '東京都新宿区西新宿３－７－１',
 '東京都新宿区西新宿１丁目６－１新宿エルタワー',
 '東京都新宿区西新宿１－６－１新宿エルタワー１０階',
 '東京都新宿区西新宿１丁目６－１新宿エルタワー２９Ｆ',
 '東京都新宿区西新宿３－７－１新宿パークタワー１３階',
 '東京都新宿区西新宿３丁目７－１',
 '東京都新宿区西新宿３丁目７－１新宿パークタワー２７Ｆ',
 '東京都新宿区西新宿１丁目２３－７新宿ファーストウエスト',
 '東京都新宿区西新宿６丁目５－１',
 '東京都新宿区西新宿１－２６－２新宿野村ビル１９階',
 '東京都新宿区西新宿７丁目５－２５',
 '東京都新宿区西新宿１－２６－２新宿野村ビル１４階',
 '東京都新宿区西新宿１丁目２６－２新宿野村ビル',
 '東京都新宿区西新宿１丁目２６－２新宿野村ビル２７Ｆ',
 '東京都新宿区西新宿１丁目２６－２新宿野村ビル',
 '東京都新宿区西新宿１丁目２６番２号新宿野村ビル２１Ｆ',
 '東京都新宿区西新宿１丁目２６－２新宿野村ビル',
 '東京都新宿区西新宿１丁目２５－１新宿センタービル４３Ｆ',
 '東京都新宿区西新宿１丁目２６－２新宿野村ビル',
 '東京都新宿区西新宿１丁目２５－１新宿センタービル',
 '東京都新宿区西新宿２丁目１－１新宿三井ビル５２階',
 '東京都新宿区西新宿２－１－１新宿三井ビル',
 '東京都新宿区西新宿２－１－１新宿三井ビル',
 '東京都新宿区西新宿２－１－１新宿三井ビル',
 '東京都新宿区西新宿２－６－１－１６階',
 '東京都新宿区西新宿２丁目６－１新宿住友ビル',
 '東京都新宿区西新宿２丁目６－１新宿住友ビル',
 '東京都新宿区西新宿１丁目２６－２新宿野村ビル',
 '東京都新宿区西新宿６－１０－１日土地西新宿ビル２０Ｆ',
 '東京都新宿区西新宿６丁目１２－３０',
 '東京都新宿区西新宿１－２４－１エステック情報ビル１６Ｆ',
 '東京都新宿区西新宿１丁目２３－７新宿ファーストウエスト１６Ｆ',
 '東京都新宿区西新宿６丁目２４－１西新宿三井ビルディング６Ｆ',
 '東京都新宿区西新宿６－１８－１住友不動産新宿セントラルパークタワー１８階・１９階',
 '東京都新宿区西新宿１丁目５－１',
 '東京都新宿区西新宿１丁目２６番２号',
 '東京都新宿区西新宿８－１７－１住友不動産新宿グランドタワー３９階',
 '東京都新宿区西新宿２丁目６番１号新宿住友ビル１９階',
 '東京都新宿区西新宿１－２６－１',
 '東京都新宿区西新宿１丁目２５－１新宿センタービル',
 '東京都新宿区西新宿１丁目２５－１新宿センタービル',
 '東京都新宿区西新宿１丁目２５－１新宿センタービル',
 '東京都新宿区西新宿１丁目２５－１新宿センタービル３６Ｆ',
 '東京都新宿区西新宿１丁目２５－１新宿センタービル',
 '東京都新宿区西新宿１丁目２５－１新宿センタービル',
 '東京都新宿区西新宿７丁目７番３０小田急西新宿Ｏ－ＰＬＡＣＥ',
 '東京都新宿区西早稲田２丁目３－１早稲田奉仕園内',
 '東京都新宿区西早稲田１丁目６－１',
 '東京都新宿区西早稲田１丁目１－６',
 '東京都新宿区西早稲田２－３－１８－７２',
 '東京都新宿区西早稲田２丁目１８－２',
 '東京都新宿区西早稲田３丁目１３－５',
 '東京都新宿区西早稲田３丁目３０－１６',
 '東京都新宿区西早稲田３丁目３０－１３',
 '東京都新宿区西早稲田３丁目５－１０',
 '東京都新宿区西早稲田２丁目３－１',
 '東京都新宿区馬場下町１４',
 '東京都新宿区馬場下町６２',
 '東京都新宿区払方町２５－５',
 '東京都新宿区払方町１４－１',
 '東京都新宿区原町３丁目６１桂ビル',
 '東京都新宿区原町３丁目８７',
 '東京都新宿区東五軒町２－９',
 '東京都新宿区東五軒町３－２８',
 '東京都新宿区東五軒町６－２４',
 '東京都新宿区百人町３丁目２８－１０',
 '東京都新宿区百人町１丁目１６－２１',
 '東京都新宿区百人町２丁目２７－６',
 '東京都新宿区百人町２丁目２７－６',
 '東京都新宿区百人町２丁目２０－１７',
 '東京都新宿区百人町１丁目２５－４',
 '東京都新宿区百人町３丁目２６－２',
 '東京都新宿区袋町６',
 '東京都新宿区南元町１９',
 '東京都新宿区南元町６－２',
 '東京都新宿区南元町１８',
 '東京都新宿区南元町１９',
 '東京都新宿区山吹町８１',
 '東京都新宿区山吹町１１－１',
 '東京都新宿区山吹町１０－１ラポール日教済内',
 '東京都新宿区山吹町３３１ＤＩＡＢＯＸ',
 '東京都新宿区山吹町３５０',
 '東京都新宿区矢来町１２３',
 '東京都新宿区矢来町７１',
 '東京都新宿区横寺町５５',
 '東京都新宿区横寺町５５',
 '東京都新宿区四谷４丁目２８－７',
 '東京都新宿区四谷４丁目１',
 '東京都新宿区四谷１丁目６番１号コモレ四谷・四谷タワー５階',
 '東京都新宿区四谷１丁目６番１号６階',
 '東京都新宿区四谷３丁目３－１富士・国保連ビル７Ｆ',
 '東京都新宿区四谷４丁目１６－３日本生命新宿御苑前ビル',
 '東京都新宿区四谷４丁目３４－１新宿御苑前アネックスビル４Ｆ',
 '東京都新宿区四谷１丁目７',
 '東京都新宿区四谷坂町１２番２１号',
 '東京都新宿区四谷三栄町７番７号',
 '東京都新宿区四谷本塩町５番１号',
 '東京都新宿区若松町１２－２',
 '東京都新宿区若松町１９－１',
 '東京都新宿区若松町１９－１',
 '東京都新宿区早稲田町５－４',
 '東京都新宿区早稲田町５－４',
 '東京都新宿区早稲田町６９']

In [14]:
lat,lon=get_lat_lon_from_address(adr)

 13%|█▎        | 45/340 [02:29<16:18,  3.32s/it]ER!!
 17%|█▋        | 58/340 [03:13<15:53,  3.38s/it]ER!!
 29%|██▉       | 98/340 [05:43<14:24,  3.57s/it]ER!!
100%|██████████| 340/340 [21:21<00:00,  3.77s/it]

In [15]:
import numpy as np
lat=np.array(lat,dtype="float64")
lat

array([35.691802, 35.701951, 35.702407, 35.702687, 35.701819, 35.688804,
       35.695623, 35.695972, 35.694281, 35.693781, 35.696412, 35.694281,
       35.694281, 35.695795, 35.693687, 35.693687, 35.698347, 35.698325,
       35.69277 , 35.690911, 35.690894, 35.691178, 35.690894, 35.694615,
       35.691017, 35.694496, 35.692694, 35.692694, 35.694957, 35.692694,
       35.692694, 35.692694, 35.692694, 35.692694, 35.690668, 35.690175,
       35.692694, 35.692694, 35.692694, 35.692694, 35.692694, 35.701348,
       35.701962, 35.705853, 35.705853,       nan, 35.704528, 35.702307,
       35.702307, 35.70102 , 35.701231, 35.699474, 35.701231, 35.701897,
       35.70102 , 35.705887, 35.702237, 35.702226,       nan, 35.701588,
       35.703703, 35.699452, 35.693893, 35.695293, 35.696697, 35.693893,
       35.693893, 35.694361, 35.697867, 35.710307, 35.710807, 35.69702 ,
       35.696088, 35.698165, 35.696092, 35.699569, 35.687244, 35.680088,
       35.680088, 35.68272 , 35.681307, 35.681433, 35.683487, 35.680088,
       35.722596, 35.715266, 35.716658, 35.715416, 35.715062, 35.716026,
       35.715693, 35.71653 , 35.71653 , 35.703139, 35.703596, 35.705271,
       35.707564, 35.704359,       nan, 35.69115 , 35.696756, 35.696756,
       35.690292, 35.693273, 35.698024, 35.696756, 35.687994, 35.6901  ,
       35.692306, 35.696756, 35.688218, 35.69372 , 35.691293, 35.694705,
       35.699853, 35.691574, 35.688326, 35.6902  , 35.688737, 35.691388,
       35.687769, 35.687769, 35.696756, 35.688737, 35.688737, 35.691984,
       35.693805, 35.696756, 35.695215, 35.692062, 35.687739, 35.708395,
       35.708096, 35.686993, 35.685875, 35.711405, 35.709726, 35.711312,
       35.710908, 35.713259, 35.709911, 35.711977, 35.710801, 35.712595,
       35.712028, 35.711206, 35.711206, 35.710747, 35.713183, 35.709782,
       35.71142 , 35.71142 , 35.712306, 35.700204, 35.702397, 35.703433,
       35.703005, 35.704574, 35.705482, 35.71037 , 35.691997, 35.691997,
       35.691997, 35.70748 , 35.702292, 35.70748 , 35.704337, 35.704337,
       35.705137, 35.687587, 35.687652, 35.687652, 35.687652, 35.687652,
       35.68709 , 35.719919, 35.716552, 35.717648, 35.718452, 35.722609,
       35.717648, 35.705697, 35.719779, 35.719544, 35.720889, 35.723467,
       35.691412, 35.690586, 35.690673, 35.69135 , 35.693771, 35.690038,
       35.690055, 35.6972  , 35.690087, 35.696831, 35.695925, 35.686462,
       35.68759 , 35.68959 , 35.683454, 35.692892, 35.686809, 35.68759 ,
       35.697387, 35.690611, 35.683952, 35.688784, 35.692539, 35.688045,
       35.68554 , 35.688616, 35.688616, 35.688616, 35.687984, 35.687984,
       35.687957, 35.688045, 35.68554 , 35.686588, 35.691566, 35.691566,
       35.690461, 35.693552, 35.689486, 35.687927, 35.688045, 35.693132,
       35.682955, 35.682955, 35.682955, 35.693132, 35.693132, 35.693132,
       35.693132, 35.68554 , 35.693132, 35.685427, 35.692326, 35.692326,
       35.692326, 35.68554 , 35.685427, 35.68554 , 35.689705, 35.693177,
       35.692951, 35.697471, 35.692951, 35.692951, 35.692951, 35.692951,
       35.692951, 35.692951, 35.691891, 35.692951, 35.691891, 35.69191 ,
       35.69191 , 35.69191 , 35.69191 , 35.691213, 35.691338, 35.691338,
       35.692951, 35.694604, 35.693973, 35.690276, 35.689782, 35.69191 ,
       35.692905, 35.692539, 35.692968, 35.696231, 35.691351, 35.692697,
       35.691891, 35.691891, 35.691891, 35.691891, 35.691891, 35.691891,
       35.69684 , 35.707502, 35.70834 , 35.707492, 35.708022, 35.710094,
       35.710098, 35.713746, 35.713357, 35.71227 , 35.707672, 35.706339,
       35.706796, 35.696959, 35.697044, 35.701614, 35.69834 , 35.705576,
       35.705267, 35.707776, 35.704695, 35.700727, 35.70222 , 35.70222 ,
       35.702887, 35.698389, 35.705663, 35.700859, 35.679456, 35.680432,
       35.679201, 35.679456, 35.7072  , 35.706682, 35.706467, 35.707232,
       35.708363, 35.704223, 35.703056, 35.700466, 35.700466, 35.68781 ,
       35.687247, 35.687158, 35.687158, 35.688358, 35.689177, 35.690224,
       35.686902, 35.69122 , 35.688333, 35.688175, 35.699265, 35.700746,
       35.700746, 35.705354, 35.705354, 35.705931])

In [17]:
lon=np.array(lon,dtype="float64")
lon

array([139.720479, 139.74277 , 139.74331 , 139.742814, 139.742708,
       139.72232 , 139.731017, 139.735585, 139.735923, 139.735982,
       139.735646, 139.735923, 139.735923, 139.734988, 139.736605,
       139.736605, 139.739776, 139.740426, 139.730077, 139.731341,
       139.731327, 139.73299 , 139.731327, 139.731791, 139.732256,
       139.731179, 139.728781, 139.728781, 139.730908, 139.728781,
       139.728781, 139.728781, 139.728781, 139.728781, 139.732378,
       139.731133, 139.728781, 139.728781, 139.728781, 139.728781,
       139.728781, 139.73756 , 139.737523, 139.728899, 139.728899,
              nan, 139.727263, 139.708569, 139.708569, 139.70872 ,
       139.706694, 139.707472, 139.706694, 139.706751, 139.70872 ,
       139.706035, 139.707457, 139.708011,        nan, 139.744366,
       139.736213, 139.741369, 139.703426, 139.701969, 139.701143,
       139.703426, 139.703426, 139.70027 , 139.701018, 139.683101,
       139.686075, 139.719905, 139.689404, 139.694389, 139.689394,
       139.730362, 139.719262, 139.7201  , 139.7201  , 139.71948 ,
       139.720406, 139.71916 , 139.721541, 139.7201  , 139.700323,
       139.702308, 139.700601, 139.699986, 139.703782, 139.701149,
       139.703854, 139.703022, 139.703022, 139.743816, 139.742948,
       139.743448, 139.742482, 139.74333 ,        nan, 139.703616,
       139.708755, 139.708755, 139.711778, 139.705174, 139.709077,
       139.708755, 139.712559, 139.704794, 139.709544, 139.708755,
       139.710159, 139.71198 , 139.707652, 139.707133, 139.70817 ,
       139.704647, 139.713105, 139.705378, 139.701827, 139.70657 ,
       139.713285, 139.713285, 139.708755, 139.701827, 139.701827,
       139.709233, 139.707213, 139.708755, 139.707273, 139.711248,
       139.713423, 139.736343, 139.735525, 139.716185, 139.719218,
       139.709231, 139.698384, 139.704298, 139.704704, 139.708888,
       139.709231, 139.708395, 139.702336, 139.704288, 139.704024,
       139.699215, 139.699215, 139.703706, 139.705963, 139.698233,
       139.709128, 139.709128, 139.706483, 139.734879, 139.741473,
       139.742135, 139.74122 , 139.731711, 139.730107, 139.722467,
       139.714761, 139.714761, 139.714761, 139.71236 , 139.716664,
       139.71236 , 139.717533, 139.717533, 139.717786, 139.714435,
       139.714398, 139.714398, 139.714398, 139.714398, 139.715282,
       139.694364, 139.690155, 139.680065, 139.694612, 139.689735,
       139.680065, 139.73114 , 139.68086 , 139.679074, 139.676312,
       139.678058, 139.69802 , 139.685694, 139.696921, 139.699372,
       139.69357 , 139.684405, 139.699154, 139.698357, 139.694349,
       139.698754, 139.698038, 139.693132, 139.694986, 139.69838 ,
       139.687807, 139.688822, 139.693047, 139.694986, 139.698556,
       139.695413, 139.686116, 139.695943, 139.698629, 139.693501,
       139.691092, 139.694568, 139.694568, 139.694568, 139.693531,
       139.693531, 139.68869 , 139.693501, 139.691092, 139.688965,
       139.691149, 139.691149, 139.697937, 139.687745, 139.691705,
       139.694828, 139.693501, 139.693142, 139.686721, 139.686721,
       139.686721, 139.693142, 139.693142, 139.693142, 139.693142,
       139.691092, 139.693142, 139.690839, 139.697456, 139.697456,
       139.697456, 139.691092, 139.690839, 139.691092, 139.695796,
       139.693166, 139.695365, 139.698588, 139.695365, 139.695365,
       139.695365, 139.695365, 139.695365, 139.695365, 139.695369,
       139.695365, 139.695369, 139.693901, 139.693901, 139.693901,
       139.693901, 139.692361, 139.692612, 139.692612, 139.695365,
       139.690754, 139.68864 , 139.695844, 139.695684, 139.693901,
       139.687892, 139.698629, 139.695317, 139.690452, 139.692813,
       139.696109, 139.695369, 139.695369, 139.695369, 139.695369,
       139.695369, 139.695369, 139.697639, 139.716666, 139.71974 ,
       139.7195  , 139.716334, 139.711151, 139.713833, 139.711321,
       139.711192, 139.715942, 139.716198, 139.718793, 139.719684,
       139.734211, 139.73482 , 139.721656, 139.722757, 139.738822,
       139.740325, 139.739417, 139.695479, 139.698366, 139.695894,
       139.695894, 139.697836, 139.698119, 139.696667, 139.73768 ,
       139.720938, 139.720854, 139.721018, 139.720938, 139.729247,
       139.730869, 139.730906, 139.727649, 139.728496, 139.733514,
       139.73333 , 139.733254, 139.733254, 139.715656, 139.718212,
       139.729321, 139.729321, 139.722215, 139.71595 , 139.714898,
       139.728952, 139.727188, 139.724688, 139.728717, 139.716829,
       139.714752, 139.714752, 139.723767, 139.723767, 139.723213])

In [39]:
lon=pd.Series(lon)
lon

0      139.720479
1      139.742770
2      139.743310
3      139.742814
4      139.742708
          ...
335    139.714752
336    139.714752
337    139.723767
338    139.723767
339    139.723213
Length: 340, dtype: float64

In [47]:
ndf=df.drop(columns="lon")

In [48]:
ndf.head()

,住所CD,都道府県CD,市区町村CD,町域CD,郵便番号,事業所フラグ,廃止フラグ,都道府県,都道府県カナ,市区町村,...,字丁目,字丁目カナ,補足,事業所名,事業所名カナ,事業所住所,新住所CD,住所,lat,lonn
46440,160857100,13,13104,131040001,160-8571,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,NaN,株式会社 太田出版,カブシキカイシヤ オオタシユツパン,愛住町２２第三山田ビル４Ｆ,NaN,東京都新宿区愛住町２２第三山田ビル４Ｆ,35.691802,NaN
46444,162858500,13,13104,131040004,162-8585,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,NaN,株式会社 ＴＫＣ 東京本社,カブシキガイシヤ テイケ－シ－ トウキヨウホンシヤ,揚場町２番１号軽子坂ＭＮビル５階,NaN,東京都新宿区揚場町２番１号軽子坂ＭＮビル５階,35.701951,NaN
46445,162855600,13,13104,131040004,162-8556,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,NaN,株式会社 銀座コージーコーナー,カブシキガイシヤ ギンザコ－ジ－コ－ナ－,揚場町２－２６,NaN,東京都新宿区揚場町２－２６,35.702407,NaN
46446,162858700,13,13104,131040004,162-8587,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,NaN,土地興業 株式会社,トチコウギヨウ カブシキガイシヤ,揚場町２－１８,NaN,東京都新宿区揚場町２－１８,35.702687,NaN
46447,162856500,13,13104,131040004,162-8565,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,NaN,大興電子通信 株式会社,ダイコウデンシツウシン カブシキガイシヤ,揚場町２－１,NaN,東京都新宿区揚場町２－１,35.701819,NaN

In [49]:
df["lon"]=lon

In [29]:
dropped=df.dropna(subset=["lat","lon"])

In [50]:
print(len(df))
df.tail()

340

,住所CD,都道府県CD,市区町村CD,町域CD,郵便番号,事業所フラグ,廃止フラグ,都道府県,都道府県カナ,市区町村,...,字丁目カナ,補足,事業所名,事業所名カナ,事業所住所,新住所CD,住所,lat,lon,lonn
47465,162802200,13,13104,131040090,162-8022,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,総務省 人事・恩給局,ソウムシヨウ ジンジ・オンキユウキヨク,若松町１９－１,NaN,東京都新宿区若松町１９－１,35.700746,NaN,NaN
47466,162866800,13,13104,131040090,162-8668,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,総務省 統計局,ソウムシヨウ トウケイキヨク,若松町１９－１,NaN,東京都新宿区若松町１９－１,35.700746,NaN,NaN
47470,162871800,13,13104,131040093,162-8718,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,株式会社 学文社,カブシキガイシヤ ガクブンシヤ,早稲田町５－４,NaN,東京都新宿区早稲田町５－４,35.705354,NaN,NaN
47471,162871700,13,13104,131040093,162-8717,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,株式会社 学文社,カブシキガイシヤ ガクブンシヤ,早稲田町５－４,NaN,東京都新宿区早稲田町５－４,35.705354,NaN,NaN
47472,162866900,13,13104,131040093,162-8669,1,0,東京都,トウキョウト,新宿区,...,NaN,NaN,綜通 株式会社,ソウツウ カブシキガイシヤ,早稲田町６９,NaN,東京都新宿区早稲田町６９,35.705931,NaN,NaN

In [53]:
ndf.to_csv("adr-tokyo.csv")

In [54]:
lon["lat"]=lat

In [56]:
lon.head()

0     139.72
1    139.743
2    139.743
3    139.743
4    139.743
dtype: object

In [57]:
newdf=pd.DataFrame()

In [84]:
newdf["lon"]=np.array([139.720479, 139.74277 , 139.74331 , 139.742814, 139.742708,
       139.72232 , 139.731017, 139.735585, 139.735923, 139.735982,
       139.735646, 139.735923, 139.735923, 139.734988, 139.736605,
       139.736605, 139.739776, 139.740426, 139.730077, 139.731341,
       139.731327, 139.73299 , 139.731327, 139.731791, 139.732256,
       139.731179, 139.728781, 139.728781, 139.730908, 139.728781,
       139.728781, 139.728781, 139.728781, 139.728781, 139.732378,
       139.731133, 139.728781, 139.728781, 139.728781, 139.728781,
       139.728781, 139.73756 , 139.737523, 139.728899, 139.728899,
              None, 139.727263, 139.708569, 139.708569, 139.70872 ,
       139.706694, 139.707472, 139.706694, 139.706751, 139.70872 ,
       139.706035, 139.707457, 139.708011,        None, 139.744366,
       139.736213, 139.741369, 139.703426, 139.701969, 139.701143,
       139.703426, 139.703426, 139.70027 , 139.701018, 139.683101,
       139.686075, 139.719905, 139.689404, 139.694389, 139.689394,
       139.730362, 139.719262, 139.7201  , 139.7201  , 139.71948 ,
       139.720406, 139.71916 , 139.721541, 139.7201  , 139.700323,
       139.702308, 139.700601, 139.699986, 139.703782, 139.701149,
       139.703854, 139.703022, 139.703022, 139.743816, 139.742948,
       139.743448, 139.742482, 139.74333 ,        None, 139.703616,
       139.708755, 139.708755, 139.711778, 139.705174, 139.709077,
       139.708755, 139.712559, 139.704794, 139.709544, 139.708755,
       139.710159, 139.71198 , 139.707652, 139.707133, 139.70817 ,
       139.704647, 139.713105, 139.705378, 139.701827, 139.70657 ,
       139.713285, 139.713285, 139.708755, 139.701827, 139.701827,
       139.709233, 139.707213, 139.708755, 139.707273, 139.711248,
       139.713423, 139.736343, 139.735525, 139.716185, 139.719218,
       139.709231, 139.698384, 139.704298, 139.704704, 139.708888,
       139.709231, 139.708395, 139.702336, 139.704288, 139.704024,
       139.699215, 139.699215, 139.703706, 139.705963, 139.698233,
       139.709128, 139.709128, 139.706483, 139.734879, 139.741473,
       139.742135, 139.74122 , 139.731711, 139.730107, 139.722467,
       139.714761, 139.714761, 139.714761, 139.71236 , 139.716664,
       139.71236 , 139.717533, 139.717533, 139.717786, 139.714435,
       139.714398, 139.714398, 139.714398, 139.714398, 139.715282,
       139.694364, 139.690155, 139.680065, 139.694612, 139.689735,
       139.680065, 139.73114 , 139.68086 , 139.679074, 139.676312,
       139.678058, 139.69802 , 139.685694, 139.696921, 139.699372,
       139.69357 , 139.684405, 139.699154, 139.698357, 139.694349,
       139.698754, 139.698038, 139.693132, 139.694986, 139.69838 ,
       139.687807, 139.688822, 139.693047, 139.694986, 139.698556,
       139.695413, 139.686116, 139.695943, 139.698629, 139.693501,
       139.691092, 139.694568, 139.694568, 139.694568, 139.693531,
       139.693531, 139.68869 , 139.693501, 139.691092, 139.688965,
       139.691149, 139.691149, 139.697937, 139.687745, 139.691705,
       139.694828, 139.693501, 139.693142, 139.686721, 139.686721,
       139.686721, 139.693142, 139.693142, 139.693142, 139.693142,
       139.691092, 139.693142, 139.690839, 139.697456, 139.697456,
       139.697456, 139.691092, 139.690839, 139.691092, 139.695796,
       139.693166, 139.695365, 139.698588, 139.695365, 139.695365,
       139.695365, 139.695365, 139.695365, 139.695365, 139.695369,
       139.695365, 139.695369, 139.693901, 139.693901, 139.693901,
       139.693901, 139.692361, 139.692612, 139.692612, 139.695365,
       139.690754, 139.68864 , 139.695844, 139.695684, 139.693901,
       139.687892, 139.698629, 139.695317, 139.690452, 139.692813,
       139.696109, 139.695369, 139.695369, 139.695369, 139.695369,
       139.695369, 139.695369, 139.697639, 139.716666, 139.71974 ,
       139.7195  , 139.716334, 139.711151, 139.713833, 139.711321,
       139.711192, 139.715942, 139.716198, 139.718793, 139.719684,
       139.734211, 139.73482 , 139.721656, 139.722757, 139.738822,
       139.740325, 139.739417, 139.695479, 139.698366, 139.695894,
       139.695894, 139.697836, 139.698119, 139.696667, 139.73768 ,
       139.720938, 139.720854, 139.721018, 139.720938, 139.729247,
       139.730869, 139.730906, 139.727649, 139.728496, 139.733514,
       139.73333 , 139.733254, 139.733254, 139.715656, 139.718212,
       139.729321, 139.729321, 139.722215, 139.71595 , 139.714898,
       139.728952, 139.727188, 139.724688, 139.728717, 139.716829,
       139.714752, 139.714752, 139.723767, 139.723767, 139.723213],dtype="float64")

In [60]:
newdf.head()

       lon
0   139.72
1  139.743
2  139.743
3  139.743
4  139.743

In [85]:
newdf["lat"]=np.array(
    [35.691802, 35.701951, 35.702407, 35.702687, 35.701819, 35.688804,
       35.695623, 35.695972, 35.694281, 35.693781, 35.696412, 35.694281,
       35.694281, 35.695795, 35.693687, 35.693687, 35.698347, 35.698325,
       35.69277 , 35.690911, 35.690894, 35.691178, 35.690894, 35.694615,
       35.691017, 35.694496, 35.692694, 35.692694, 35.694957, 35.692694,
       35.692694, 35.692694, 35.692694, 35.692694, 35.690668, 35.690175,
       35.692694, 35.692694, 35.692694, 35.692694, 35.692694, 35.701348,
       35.701962, 35.705853, 35.705853,       None, 35.704528, 35.702307,
       35.702307, 35.70102 , 35.701231, 35.699474, 35.701231, 35.701897,
       35.70102 , 35.705887, 35.702237, 35.702226,       None, 35.701588,
       35.703703, 35.699452, 35.693893, 35.695293, 35.696697, 35.693893,
       35.693893, 35.694361, 35.697867, 35.710307, 35.710807, 35.69702 ,
       35.696088, 35.698165, 35.696092, 35.699569, 35.687244, 35.680088,
       35.680088, 35.68272 , 35.681307, 35.681433, 35.683487, 35.680088,
       35.722596, 35.715266, 35.716658, 35.715416, 35.715062, 35.716026,
       35.715693, 35.71653 , 35.71653 , 35.703139, 35.703596, 35.705271,
       35.707564, 35.704359,       None, 35.69115 , 35.696756, 35.696756,
       35.690292, 35.693273, 35.698024, 35.696756, 35.687994, 35.6901  ,
       35.692306, 35.696756, 35.688218, 35.69372 , 35.691293, 35.694705,
       35.699853, 35.691574, 35.688326, 35.6902  , 35.688737, 35.691388,
       35.687769, 35.687769, 35.696756, 35.688737, 35.688737, 35.691984,
       35.693805, 35.696756, 35.695215, 35.692062, 35.687739, 35.708395,
       35.708096, 35.686993, 35.685875, 35.711405, 35.709726, 35.711312,
       35.710908, 35.713259, 35.709911, 35.711977, 35.710801, 35.712595,
       35.712028, 35.711206, 35.711206, 35.710747, 35.713183, 35.709782,
       35.71142 , 35.71142 , 35.712306, 35.700204, 35.702397, 35.703433,
       35.703005, 35.704574, 35.705482, 35.71037 , 35.691997, 35.691997,
       35.691997, 35.70748 , 35.702292, 35.70748 , 35.704337, 35.704337,
       35.705137, 35.687587, 35.687652, 35.687652, 35.687652, 35.687652,
       35.68709 , 35.719919, 35.716552, 35.717648, 35.718452, 35.722609,
       35.717648, 35.705697, 35.719779, 35.719544, 35.720889, 35.723467,
       35.691412, 35.690586, 35.690673, 35.69135 , 35.693771, 35.690038,
       35.690055, 35.6972  , 35.690087, 35.696831, 35.695925, 35.686462,
       35.68759 , 35.68959 , 35.683454, 35.692892, 35.686809, 35.68759 ,
       35.697387, 35.690611, 35.683952, 35.688784, 35.692539, 35.688045,
       35.68554 , 35.688616, 35.688616, 35.688616, 35.687984, 35.687984,
       35.687957, 35.688045, 35.68554 , 35.686588, 35.691566, 35.691566,
       35.690461, 35.693552, 35.689486, 35.687927, 35.688045, 35.693132,
       35.682955, 35.682955, 35.682955, 35.693132, 35.693132, 35.693132,
       35.693132, 35.68554 , 35.693132, 35.685427, 35.692326, 35.692326,
       35.692326, 35.68554 , 35.685427, 35.68554 , 35.689705, 35.693177,
       35.692951, 35.697471, 35.692951, 35.692951, 35.692951, 35.692951,
       35.692951, 35.692951, 35.691891, 35.692951, 35.691891, 35.69191 ,
       35.69191 , 35.69191 , 35.69191 , 35.691213, 35.691338, 35.691338,
       35.692951, 35.694604, 35.693973, 35.690276, 35.689782, 35.69191 ,
       35.692905, 35.692539, 35.692968, 35.696231, 35.691351, 35.692697,
       35.691891, 35.691891, 35.691891, 35.691891, 35.691891, 35.691891,
       35.69684 , 35.707502, 35.70834 , 35.707492, 35.708022, 35.710094,
       35.710098, 35.713746, 35.713357, 35.71227 , 35.707672, 35.706339,
       35.706796, 35.696959, 35.697044, 35.701614, 35.69834 , 35.705576,
       35.705267, 35.707776, 35.704695, 35.700727, 35.70222 , 35.70222 ,
       35.702887, 35.698389, 35.705663, 35.700859, 35.679456, 35.680432,
       35.679201, 35.679456, 35.7072  , 35.706682, 35.706467, 35.707232,
       35.708363, 35.704223, 35.703056, 35.700466, 35.700466, 35.68781 ,
       35.687247, 35.687158, 35.687158, 35.688358, 35.689177, 35.690224,
       35.686902, 35.69122 , 35.688333, 35.688175, 35.699265, 35.700746,
       35.700746, 35.705354, 35.705354, 35.705931],dtype="float64"
)

In [68]:
newdf.dtypes
lon=newdf["lon"]
lat=newdf["lat"]

lon_f=lon.astype(dtype="float64")
lat_f=lat.astype(dtype="float64")

In [70]:
lon_f.dtype

dtype('float64')

In [76]:
nndf["lon"]=lon_f
nndf["lat"]=lat_f

In [79]:
# nndf.head()
(nndf["lat"].dtype)

dtype('float64')

In [80]:
lon_f+=lat_f

In [82]:
lon_f.head()

0    175.412281
1    175.444721
2    175.445717
3    175.445501
4    175.444527
Name: lon, dtype: float64

In [86]:
newdf

            lon        lat
0    139.720479  35.691802
1    139.742770  35.701951
2    139.743310  35.702407
3    139.742814  35.702687
4    139.742708  35.701819
..          ...        ...
335  139.714752  35.700746
336  139.714752  35.700746
337  139.723767  35.705354
338  139.723767  35.705354
339  139.723213  35.705931

[340 rows x 2 columns]

In [101]:
ss=[]
with open("final-place.csv","w") as f:
    for i in range(len(newdf)):
        s=[nndf[i:i+1]["事業所名"].values[0],newdf[i:i+1]["lat"].values[0],newdf[i:i+1]["lon"].values[0]]

        ss.append(s)

In [102]:
import pickle
with open("d.pkl","wb") as f:
    pickle.dump(ss,f)